<div class="ele-areanameWrapper" id="ele-map-kanto">
    <ul>
        <li id="tokyo"><span>東京</span></li>
        <li id="chiba"><span>千葉</span></li>
    </ul>
    <ul>
        <li id="kanagawa"><span>神奈川</span></li>
        <li id="tochigi"><span>栃木</span></li>
    </ul>
    <ul>
        <li id="gunma"><span>群馬</span></li>
        <li id="ibaragi"><span>茨城</span></li>
    </ul>
    <ul>
        <li id="saitama"><span>埼玉</span></li>
    </ul>
</div>
<div class="ele-areanameWrapper" id="ele-map-tokyo">
    <ul>
        <li><%= link_to '23区', search_tokyo1_path %></li>
        <li><%= link_to '23区以外', '#' %></li>
    </ul>
</div>
