<div class="ele-areanameWrapper" id="ele-map-all">
    <ul>
        <li id="hokkaido">
            <span>北海道</span>
        </li>
        <li id="tohoku">
            <span>東北</span>
        </li>
    </ul>
    <ul>
        <li id="chubu">
            <span>中部</span>
        </li>
        <li id="kanto">
            <span>関東</span>
        </li>
    </ul>
    <ul>
        <li id="chugoku">
            <span>中国</span>
        </li>
        <li id="kanto">
            <span>関西</span>
        </li>
    </ul>
    <ul>
        <li id="kyushu">
            <span>九州</span>
        </li>
        <li id="shikoku">
            <span>四国</span>
        </li>
    </ul>
</div>

<div class="ele-areanameWrapper" id="ele-map-kanto">
    <ul>
        <li id="tokyo"><span>東京</span></li>
        <li id="chiba"><span>千葉</span></li>
    </ul>
    <ul>
        <li id="kanagawa"><span>神奈川</span></li>
        <li id="tochigi"><span>栃木</span></li>
    </ul>
    <ul>
        <li id="gunma"><span>群馬</span></li>
        <li id="ibaragi"><span>茨城</span></li>
    </ul>
    <ul>
        <li id="saitama"><span>埼玉</span></li>
        <li class="backTop"><span>戻る</span></li>
    </ul>
</div>
<div class="ele-areanameWrapper" id="ele-map-tokyo">
    <ul>
        <li><span><%= link_to '23区', search_tokyo1_path %></span></li>
        <li><span><%= link_to '23区以外', search_tokyo2_path %></span></li>
    </ul>
    <ul>
        <li class="backTop"><span>戻る</span></li>
    </ul>
</div>
