<section class="Tokushu2">
    <div class="container">
        <div class="Tokushu2__item1">
                <h1>老舗の脱毛サロンをご紹介</h1>
                <p>最近の脱毛サロン業界は競争が激しく、常に新しいサロンが参入しています。<br>たくさんあるサロンの中でどれを選べばいいんだろう、と悩まれている方も多くいらっしゃると思います。<br>
                    サロン選びの一つの基準として、激戦を生き抜いてきた老舗サロンをご紹介します。</p>
        </div>
        <div class="Salon1">
            <div class="Salon1__flex">
                <div class="Salon1__flex--item1">
                    <a href="https://track.affiliate-b.com/visit.php?guid=ON&a=h3509v-w2659661&p=U445860X" target="_blank" rel="nofollow"><img src="https://www.affiliate-b.com/upload_image/3509-1471995340-3.gif" width="100%" style="border:none;" alt="ひざ下"/></a><img src="https://track.affiliate-b.com/lead/h3509v/U445860X/w2659661" width="1" height="1" style="border:none;"/>
                </div>
                <div class="Salon1__flex--item2">
                    <h2 class="line">エステティックTBC</h2>
                    <h3>老舗ポイント・歴史</h3>
                    <p>老舗サロンといえば エステティックTBC！40年にわたって培った経験からで、高い技術力とエステティシャンを抱えています。<br>
                        1976年創業、今や日本を代表する超老舗サロンです。<br>
                        自社開発の化粧品なども扱っていて、確かな技術力のあるサロンだと言えます。</p>
                </div>
            </div>
            <div class="Salon1__flex2">
                <div class="Salon1__flex2--item1">
                    <h3>評価ポイント</h3>
                    <p>老舗サロンといえば エステティックTBC！40年にわたって培った経験からで、高い技術力とエステティシャンを抱えています。<br>
                        1976年創業、今や日本を代表する超老舗サロンです。<br>
                        自社開発の化粧品なども扱っていて、確かな技術力のあるサロンだと言えます。</p>

                </div>
                <div class="Salon1__flex2--item2">
                    <h3>ショップデータ</h3>
                    <div class="c-Data">
                        <div class="c-Data__table">
                            <div class="c-Data__table--row">
                                <div class="c-Data__table--cell">
                                    <p>店舗数</p>
                                </div>
                                <div class="c-Data__table--cell">
                                    <p>グループ全体で207店舗の直営サロン全国47都道府県すべてに展開中！</p>
                                </div>
                            </div>
                            <!-- row -->
                            <div class="c-Data__table--row">
                                <div class="c-Data__table--cell">
                                    <p>脱毛方式</p>
                                </div>
                                <div class="c-Data__table--cell">
                                    <p>TBCスーパー脱毛</p>
                                    <p>TBCライト脱毛</p>
                                </div>
                            </div>
                            <!-- row -->
                            <div class="c-Data__table--row">
                                <div class="c-Data__table--cell">
                                    <p>キャンペーン</p>
                                </div>
                                <div class="c-Data__table--cell">
                                    <p>
                                        <a href="http://c-3-esthe.com/lp002/?f=4">
                                            お得なキャンペーンを確認
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <!-- row -->
                        </div>
                    </div>
                    <!-- c-Data -->

                </div>
            </div>

            <!-- .row -->
            <!-- <div class="row">
                <div class="col-sm-4">
                    <h3>キャンペーン</h3>
                    <h4>Vライン脱毛</h4>
                    <p>スーパー＆ライト体験プラン<br>1,000円（91% OFF）
                        <h4>プラン内容</h4>
                        TBCスーパー脱毛<br>＋<br>ライト脱毛<br>＋<br>無料カウンセリング
                    </p>
                </div>
                <div class="col-sm-4">
                    <h3>店舗数</h3>
                    <p>グループ全体で207店舗の直営サロン全国47都道府県すべてに展開中！</p>
                </div>
                <div class="col-sm-4">
                    <h3>脱毛方法</h3>
                    <h4>TBCスーパー脱毛</h4>
                    <p>アメリカで140年以上の歴史・実績を持つ脱毛方法です。専門の技術者が担当します。</p>
                    <h4>TBCライト脱毛</h4>
                    <p>肌に優しく、広範囲の部位や、スピードを求める方にオススメの脱毛法。</p>
                </div>
            </div> -->
            <div class="layout-button">
                <a href="http://c-3-esthe.com/lp002/?f=4">
                    <button class="c-button">TBCで予約する</button>
                </a>
            </div>
        </div>

        <div class="Salon2">
            <div class="Salon2__flex">
                <div class="Salon2__flex--item1">
                    <a href="https://track.affiliate-b.com/visit.php?guid=ON&a=i2595j-u567258&p=U445860X" rel="nofollow"><img src="https://www.affiliate-b.com/upload_image/2595-u567258-3.jpg" width="100%" style="border:none;" alt="銀座カラー　脱毛キャンペーン"/></a><img src="https://track.affiliate-b.com/lead/i2595j/U445860X/u567258" width="1" height="1" style="border:none;"/>
                </div>
                <div class="Salon2__flex--item2">
                    <h2 class="line">銀座カラー</h2>
                    <h3>老舗ポイント・歴史</h3>
                    <p>知名度No1。銀座カラー は創業22年の脱毛専門大型サロンです。</p>
                    <p>関東を中心に展開していて、ユニークな電車広告でおなじみの人気サロンです！</p>
                    <p>営業時間が長く(22時半まで)、仕事帰りの女性にも通いやすい環境です。</p>
                </div>
            </div>
            <div class="Salon2__flex2">
                <div class="Salon2__flex2--item1">
                    <h3>評価ポイント</h3>
                    <p>知名度No1。銀座カラー は創業22年の脱毛専門大型サロン！<br>
                    関東を中心に展開していて、ユニークな電車広告でおなじみの人気サロンです！<br>
                    営業時間が長く(22時半まで)、仕事帰りの女性にも通いやすい環境です。</p>
                </div>
                <div class="Salon2__flex2--item2">
                    <h3>ショップデータ</h3>
                    <div class="c-Data">
                        <div class="c-Data__table">
                            <div class="c-Data__table--row">
                                <div class="c-Data__table--cell">
                                    <p>店舗数</p>
                                </div>
                                <div class="c-Data__table--cell">
                                    <p>全国42店舗で展開中!</p>
                                </div>
                            </div>
                            <!-- row -->
                            <div class="c-Data__table--row">
                                <div class="c-Data__table--cell">
                                    <p>脱毛方式</p>
                                </div>
                                <div class="c-Data__table--cell">
                                    <p>IPL脱毛</p>
                                </div>
                            </div>
                            <!-- row -->
                            <div class="c-Data__table--row">
                                <div class="c-Data__table--cell">
                                    <p>キャンペーン</p>
                                </div>
                                <div class="c-Data__table--cell">
                                    <p>
                                        <a href="http://c-3-esthe.com/lp002/?f=4" target="_blank">
                                            お得なキャンペーンを確認
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <!-- row -->
                        </div>
                    </div>
                    <!-- c-Data -->

                </div>
            </div>

            <!-- <div class="row ">
                <div class="col-sm-4">
                    <h3>キャンペーン</h3>
                    <h4>新・全身脱毛</h4>
                    <p>月額9,900円(脱毛し放題)のところ今なら2か月分が0円19,800円もお得です！</p>
                </div>
                <div class="col-sm-4">
                    <h3>店舗数</h3>
                    <p>全国42店舗で展開中!</p>
                </div>
                <div class="col-sm-4">
                    <h3>脱毛方法</h3>
                    <h4>
                        <span>IPL脱毛</h4>
                        <p>その他、銀座カラーオリジナルの「高結果追求システム」と保湿ケア「美肌潤美」を体験いただけます。</p>
                    </div>
            </div> -->
            <div class="layout-button">
                <a href="http://c-3-esthe.com/lp002/?f=4" target="_blank">
                    <button class="c-button">銀座カラーで予約する</button>
                </a>
            </div>

        </div>
    </div>
    <!-- container -->
</section>
