<div class="layout-search-list">
    <div class="container">
        <section>
            <h1>四国のお店一覧</h1>

            <%= render 'layouts/searchListArea' %>

        </section>
    </div>
    <!-- container -->
</div>
<!-- layout-search-list -->
