<% if @shopbranch.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= @shopbranch %> errors.
    </div>
    <ul>
    <% @shopbranch.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
