@import "partials/_set.scss";

//Components Area


.textindent {
    text-indent: 0.5em;
}

.line{
    border-bottom: solid 1px $primary;
    padding-bottom: 3px;
}

.fingar{
    background: image-url("fingar-arrow.svg") no-repeat;
    padding-left: 20px;
}
.check{
    background: image-url("checkbox.svg") no-repeat;
    padding-left: 20px;
}

.center{
    margin: 0 auto;
}

img.pic-thum{
        width: 100px;
        height: auto;
}

.indent{
    text-indent: 1em;
}

.c-flex{
    display: flex;
}
.c-table{
    display: table;
}
.c-table-row{
    display: table-row;
}
.c-table-cell{
    display: table-cell;
}

.m-table-res{
    display: table;
    width: 100%;
    @include mq-sp{
        display: block;
    }
}
.m-table-cell-res{
    display: table-cell;
    @include mq-sp{
        display: block;
    }
}
.m-table-row-res{
    display: table-row;
    @include mq-sp{
        display: block;
    }
}

.c-button {
    height: 45px;
    background: $primary;
    color: #ffffff;
    @include M-font;
    line-height: 45px;
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    @include transition;
    &:hover{
        background: lighten($primary, 10%);
    }
    &:active{
        background: derken($primary, 10%);
    }
}
.c-button-a {
    display: block;
    height: 45px;
    background: $primary;
    color: #ffffff;
    @include S-font;
    line-height: 45px;
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    @include transition;
    &:hover{
        background: lighten($primary, 10%);
        text-decoration: none;
    }
    &:active{
        background: derken($primary, 10%);
    }
}

.ellip-line {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.ellip,
.ellip-line {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.c-Data {
    &__table{
        display: table;
        width: 100%;
        border-spacing: 2px 2px;
        &--row{
            display: table-row;
            min-height: 30px;
            background: $bk-middle-gray;
        }
        &--cell{
            display: table-cell;
            vertical-align: middle;
            padding: 3px 5px;
            &:first-child{
                width: 30%;
            }
            &:last-child{
                width: 70%;
            }

        }
    }
}
