$primary: #F06292;
$link-color: #E91E63;
$link-color2: #333333;
$accent: #0091EA;
$bk-color:#FCE4EC;
$error: #D50000;
$green: #00C509;
$primary-text: #333333;
$secondary-text: #6D6D6D;
$disabled-text: #cccccc;
$border: #cccccc;

$bk-dark-gray: #E0E0E0;
$bk-middle-gray: #F5F5F5;
$bk-light-gray: #FAFAFA;
$bk-white: #ffffff;

$op-button: transparentize($bk-dark-gray, 0.3);
$op-h-button: transparentize($bk-dark-gray, 0);


//mixins area
/* font */
@mixin XL-font{
	font-size: 34px;
    line-height: 1.2;
}
@mixin LL-font{
	font-size: 24px;
    line-height: 1.2
}

@mixin L-font{
	font-size: 20px;
    line-height: 1.2
}

@mixin M-font{
	font-size: 16px;
    line-height: 1.4
}

@mixin MB-font{
	font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
}

@mixin S-font{
	font-size: 14px;
    line-height: 1.5
}

@mixin XS-font{
	font-size: 12px;
    line-height: 1.5
}

@mixin line-height-reset {
    line-height: 0;
}

@mixin caption-font{
	color: #666666;
	font-size: 11px;
	// font-size: 1.1rem;
}

@mixin error-font{
	color: #BF0000;
	font-size: 13px;
	// font-size: 1.3rem;
	font-weight: bold;
}

@mixin hotel-name{
	color: #1D54A7;
	font-size: 16px;
	// font-size: 1.6rem;
}

@mixin sp-icon-font {
	font-size: 28px;
	// font-size: 2.8rem;
}

@mixin mq-sp(){
    @media only screen and (max-width: 743px){
        @content;
    }
}
@mixin ellipsis{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@mixin transition{
    transition: all 0.1s linear;
}
@mixin Animation_transition {
	transition: all 0.5s ease;
}

@mixin boxshadow {
        box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

@keyframes motion-button {
	0%, 100% { 
		transform: scale(1, 1);
	}
	40% { 
		transform: scale(1.2, 1.2);
	}
	75% { 
		transform: scale(0.9, 0.9);
	}
}

@keyframes motion-ripple {
    from {
        opacity: 0.5;
    }
    to {
        transform: scale(100);
        opacity: 0;
    }
}
