////article
@import "partials/set";

.layout-article-index,
.layout-article-show {
    .container {
        background: #ffffff;
        max-width: 950px;
    }
}
.Article{
    padding-top: 30px;
    padding-right: 30px;
    @include mq-sp {
        padding-top: 30px;
        padding-right: 10px;
    }
    h1 {
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 30px;
        line-height: 1.8;
    }
    &__subtitle{
        padding-left: 5px;
        @include S-font;
        margin-bottom: 20px;
        &--cat {
            @include XS-font;
            margin-left: 10px;
            padding: 7px;
            border-radius: 3px;
            background: $bk-dark-gray;
        }
    }
    .ItemArticle__pic {
        width: 80px;
        height: 80px;
        background-size: 80px 80px;
    }
    &__contents {
        border: solid 1px $border;
        padding: 20px;
        margin-bottom: 30px;
        // spacial rule for article///////////
        .a-bold {
            font-weight: bold;
        }
        .a-h2 {
            @include L-font;
            font-weight: bold;
            padding-top: 20px;
            padding-bottom: 15px;
            display: inline-block;
        }
        .a-h3 {
            @include MB-font;
            padding-top: 8px;
            padding-bottom: 10px;
            display: inline-block;
        }


        // special rule for article End///////
        @include S-font;
        line-height: 2;
        @include mq-sp {
            margin-bottom: 10px;
        }
    }
    &__controller {
        margin-top: 20px;
    }
}
.Article--side {
    padding-top: 30px;
    margin-bottom: 20px;
    @include mq-sp {
        margin-bottom: 40px;
    }
    h2 {
        font-size: 16px;
        margin-bottom: 10px;
        border-bottom: 1px solid $primary;
        padding-bottom: 5px;
    }
    &__contents {
        margin-bottom: 20px;
    }
    &__list {
        padding: 3px 3px;
    }
}

.Article--edit {
    padding: 30px 20px;
    h1 {
        margin-bottom: 40px;
    }
    .form-group {
        margin-bottom: 20px;
    }
}
.ArticleEditPage--desc {
    padding: 10px 5px;
    margin-bottom: 15px;
    background: $bk-dark-gray;
    border-radius: 3px;
}