/*
Eric Meyer's CSS Reset
http://meyerweb.com/eric/tools/css/reset/
v1.0 | 20080212
CSSresetr.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing=0' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* resetcss */

*{
    box-sizing: border-box;
}

a{
    color: $link-color;
    text-decoration: none;
    @include transition;
    &:hover{
        text-decoration: underline;
    }
}

h1{
    @include LL-font;
    color: $primary-text;
    @include mq-sp{
        font-size: 22px;
    };
     > a {
    @include LL-font;
    @include mq-sp{
        font-size: 22px;
        };    
    }
}

h2{
    @include L-font;
    color: $primary-text;
    @include mq-sp{
        font-size: 18px;
    };
    > a {
    @include L-font;
    @include mq-sp{
        font-size: 18px;
        };    
    }
}
h3{
    @include M-font;
    color: $primary-text;
    @include mq-sp{
        font-size: 15px;
    };
    > a {
        @include M-font;
        @include mq-sp{
            font-size: 15px;
        };
    }
}
h4{
    @include MB-font;
    color: $primary-text;
    @include mq-sp{
        font-size: 15px;
    };
    > a {
        @include MB-font;
        @include mq-sp{
            font-size: 15px;
        };
    }
}
p{
    @include S-font;
    color: $primary-text;
    @include mq-sp{
        font-size: 13px;
    };
    .textStrong{
        font-size: 20px;
    }
    > a {
        @include S-font;
        @include mq-sp{
            font-size: 13px;
        };
        .textStrong{
            font-size: 20px;
        }
    }
}
ul, li, a, span, div {
    font-size: 14px;
}

input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
//   border: none;
  box-sizing: border-box;
    &::-webkit-search-decoration {
      display: none;
    }
    &::focus {
      outline-offset: -2px;
    }
}

button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
}
