.ItemArticle{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    @include mq-sp{
        padding: 0px;
    }
    &__pic{
        width: 80px;
        height: 80px;
        background-size: 80px 80px;
        display: block;
        @include mq-sp{
            width: 60px;
            height: 60px;
            background-size: 60px 60px;
        };
    }
    &__flex{
        background: $bk-light-gray;
        border: solid 1px $border;
        display: flex;
        margin-bottom: 20px;
        padding: 10px 10px;
        flex-direction: row;
        width: 32%;
        @include mq-sp{
            margin-bottom: 10px;
            width: 100%;
        };
        // justify-content: space-between;
        &--item1{
            // flex-basis: 115px;
        }
        &--item2{
            padding-left: 10px;
            width: calc(100% - 80px);
        }
    }
    &__title{
        @include M-font;
        margin-bottom: 5px;
    }
    &__contents{
        @include ellipsis;
    }
}
.Salons{
    h2{
        margin: 0 0 15px;
        padding-left: 5px;
    }
    width: 100%;
    .Salons__flex{
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;

        &--items{
            padding: 15px 10px;
            margin-bottom: 15px;
            width: 48%;
            @include mq-sp{
                margin-bottom: 10px;
                padding: 10px;
                width: 100%;
            };
            border: solid 1px $border;
            background: $bk-middle-gray;

        }
    }
    &__name{
        margin-bottom: 5px;
        @include L-font;
    }
    &__company{
        margin-bottom: 5px;
        @include M-font;
        @include ellipsis;
    }
    &__text{
        @include ellipsis;
    }
    &__contents--flex{
        display: flex;
        @include mq-sp{
            align-items: center;
        };
        &-item1{
            width: 20%;
        }
        &-item2{
            width: 75%;
            padding-left: 10px;
        }
        &-pic{
            border-radius: 50%;
            width: 80px;
            height: 80px;
            background-size: 80px 80px;
            @include mq-sp{
                width: 60px;
                height: 60px;
                background-size: 60px 60px;
            };
        }
    }
}

// _branchList.html.erb
.BranchList{
    margin-bottom: 20px;
    h2 {
        margin-bottom: 10px;
    }
    &__flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &--item{
            width: 30%;
            margin-bottom: 15px;
            @include mq-sp{
                width: 100%;
            };
        }
    }
}
.GlobalNav--wrapper{
    position: relative;
    .Sitetitle--sp{
        display: none;
        top: 14px;
        left: 60px;
        position: absolute;
        z-index: 10;
        @include mq-sp{
            display: block;
        };
    }
}
.GlobalNav {
    position: absolute;
    width: 100%;
    display: flex;
    z-index: 10;
    background: $bk-white;
    @include boxshadow;
    @include mq-sp{
        display: none;
    }
    .GlobalNav__menu{
        position: relative;
        &> a{
            text-decoration: none;
            cursor: pointer;
            height: 53px;
            color: $primary-text;
            padding-right: 30px;
            padding-left: 30px;
            vertical-align: middle;
            display: table-cell;
            &:hover {
                text-decoration: underline;
            }

        }
        &:first-child{
            margin-right: auto;
            &:after{
                background-color: transparent;
            }
        }
        &:last-child{
            &:after{
                background-color: transparent;
            }
        }
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            display: block;
            width: 1px;
            height: 22px;
            margin: -11px 0 0 0;
            background-color: #ddd;
        }
    }
    .dropdown:hover > .dropdown-menu{
        display: block;
    }
    .dropdown-menu{
        margin: 0;
        box-shadow: none;
        &>li > a {
            padding: 5px 20px;
        }
    }
    &--fixed{
        position: fixed;
        @include mq-sp {
            position: inherit;
        };
    }
}
.GlobalNav--sp {
    display: none;
    @include mq-sp{
        display: block;
    };
    .divider{
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }
}
