.ItemArticle{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    @include mq-sp{
        padding: 0px;
    }
    &__pic{
        box-sizing: border-box;
        width: 80px;
        height: 80px;
        background-size: 80px 80px;
        display: block;
    }
    &__flex{
        background: $bk-light-gray;
        display: flex;
        margin-bottom: 20px;
        padding: 10px 10px;
        flex-direction: row;
        width: 32%;
        // justify-content: space-between;
        &--item1{
            // flex-basis: 115px;
        }
        &--item2{
            padding-left: 10px;
        }
    }
    &__title{
        @include M-font;
        margin-bottom: 5px;
    }
    &__contents{
        // @include ellipsis;
    }
}
.Salons{
    width: 100%;
    .Salons__flex{
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        &--items{
            padding: 15px 15px;
            margin-bottom: 15px;
            width: 48%;
            @include mq-sp{
                padding: 0px 5px;
                width: 50%;
            };
            border: solid 1px $border;

        }
    }
    &__name{
        margin-bottom: 5px;
        @include L-font;
    }
    &__company{
        margin-bottom: 5px;
        @include M-font;
    }
    &__text{
        @include ellipsis;
    }
    &__contents--flex{
        display: flex;
        &-item1{
            width: 20%;
        }
        &-item2{
            width: 80%;

        }
        &-pic{
            border-radius: 50%;
            width: 80px;
            height: 80px;
            background-size: 80px 80px;
        }
    }
}
