.ItemArticle{
    padding: 0 20px 20px 20px;
    @include mq-sp{
        padding: 0px;
    }
    &__pic{
        box-sizing: border-box;
        width: 60px;
        height: 60px;
        background-size: 60px 60px;
        display: inline-block;;
    }
    .m-flex{
        margin: 0 auto;
        padding: 10px 0px;
        border-bottom: solid 1px $border;
        box-sizing: border-box;
        height: 80px;
    }
    &__flex1{
        width: 60px
    }
    &__flex2{
        padding-left: 20px;
        width: 80%;

    }
    &__contents{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-top: 5px;
    }
}
