.CSV{
    padding-top: 20px;
    text-align: left;
    &__label{
        font-size: 13px;
        width: 230px;
        input{
            &:first-child{
                width: 230px;
            }
        }
    }
    &__export{
        border-spacing: 0px 5px;

    }
}
