@import "bootstrap-sprockets";
@import "bootstrap";

.m-table-res{
    display: table;
    width: 100%;
    @include mq-sp{
        display: block;
    }
}
.m-table-cell-res{
    display: table-cell;
    @include mq-sp{
        display: block;
    }
}
.m-table-row-res{
    display: table-row;
    @include mq-sp{
        display: block;
    }
}

.m-flex {
    display: -webkit-flex; /* Safari */
    display: flex;
}
.ellip {
  display: block;
  height: 100%;
}

.ellip-line {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.ellip,
.ellip-line {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}
