////shopfb
@import "partials/set";

.layout-feedback-show {
    padding-top: 20px;
    margin-bottom: 30px;
    .container {
        max-width: 950px;
        h1 {
            margin-bottom: 20px;
        }
        h2,h3{
            margin-bottom: 10px;
        }
    }
    .Voice {
        // margin-bottom: 10px;
        padding: 20px 0px;
        border-top: solid 1px $border;
        &__rank {
            margin-bottom: 5px;
        }
        &__info {
            margin-bottom: 10px;
        }
        h4 {
            margin-bottom: 5px;
        }
    }
}
.CustomerFb__edit {
    padding: 30px 20px;
    h1 {
        margin-bottom: 40px;
    }
    .form-group {
        margin-bottom: 20px;
    }
}
