<% provide(:title, "支店管理") %>
<div class="layout-static-admin">
<div class="container">
    <section>
        <h1>支店情報管理</h1>
        <div class="row">
            <% @shopbranch.each do |branch| %>
            <div class="col-sm-4"><%= link_to branch.shopname, branch %></div>
            <div class="col-sm-4"><%= branch.branchname %></div>
            <div class="col-sm-4">
                <div class="btn btn-default btn-sm"><%= link_to "Edit", edit_shopbranch_path(branch) %></div>
                <div class="btn btn-default btn-sm"><%= link_to "Delete",branch, method: :delete, data: {confirm: "削除しますか？"} %></div>
            </div>
            <% end %>
        </div>
        <!-- .row -->
    </section>
</div>
</div>
