<section class="layout-shopbranch-show">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <%= @shopbranch.branchname %> <%= @shopbranch.address %>
            </div>
        </div>
    </div>


</section>
