<div class="row col-sm-12 ButtonCenter-wrapper">
    <div class="ButtonCenter">
        <a href="<%= @shopinfo.affili %>">
            <button class="c-button"><%= @shopinfo.shopname %>で予約する</button>
        </a>
    </div>
</div>
