
<footer class="Footer layout-footer">
    <div class="Footer__flex">
        <p class="">美容脱毛比較.net</p>
        <%= image_tag("home.svg") %>
        <%= image_tag("mail.svg") %>
        <%= image_tag("twitter.svg") %>
        <%= image_tag("facebook.svg") %>
    </div>
    <p>2005-2017 XXX, LLC. All rights reserved.</p>
</footer>
