
<footer class="Footer layout-footer">
    <div class="Footer__flex">
        <p class="">脱毛レスキュー</p>
        <%= image_tag("home.svg") %>
        <%= image_tag("mail.svg") %>
        <%= image_tag("twitter.svg") %>
        <%= image_tag("facebook.svg") %>
    </div>
    <p>2016-2017, All rights reserved.</p>
</footer>
